.comics-list {
  padding: 70px 0;
  width: 100%;
  background-color: rgb(19, 19, 19);
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.comics-list .container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}
.comics-list .container .item {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.comics-list .container .item span {
  text-transform: uppercase;
  color: white;
}
.comics-list .container a {
  text-decoration: none;
  color: inherit;
}
.comics-list .item img {
  height: 200px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}